extends base

block content
    ul
        li
            a(href='../id-generator/') Generate a list of random IDs
        li
            a(href='../active-users/') List active users
        li
            a(href='../popular-questions/') List popular questions
        li
            a(href='../dump-data/') Export database