<!DOCTYPE html>
<html ng-app="diaryApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, width=device-width, user-scalable=no" />
        <title>Media Diary</title>
        
        <link rel="stylesheet" href="styles/reset.css" />
        
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,500,700,900" />
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
        
        <link rel="stylesheet" href="styles/diaryapp.css" />
        
        <script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"> </script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"> </script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-sanitize.min.js"> </script>
        <script src="//twemoji.maxcdn.com/twemoji.min.js"> </script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"> </script>
        
        <script type="text/javascript" src="config"> </script>
        <script type="text/javascript" src="script/diaryapp.js"> </script>
    </head>
    <body ng-controller="DiaryCtrl">
        <header>
            <h1><i class="fa fa-calendar"></i> {{CONFIG.diary_title}}</h1>
        </header>
        <section class="main-section">
            <div ng-show="!disclaimer_read">
                <p ng-bind-html="CONFIG.disclaimer_message | paragraphy"></p>
                <ul class="buttons">
                    <li class="cancel-button" ng-click="declineDisclaimer()">
                        <i class="fa fa-times"></i>
                        {{CONFIG.decline_button_text}}
                    </li>
                    <li class="save-button" ng-click="agreeDisclaimer()">
                        <i class="fa fa-check"></i>
                        {{CONFIG.agree_button_text}}
                    </li>
                </ul>
            </div>
            <div ng-show="disclaimer_read && !authenticated">
                <p ng-show="CONFIG.auto_login">
                    Logging you in automatically...
                </p>
                <form class="auth-form" ng-submit="authenticate()" ng-show="!CONFIG.auto_login">
                    <h2>{{CONFIG.passcode_prompt_message}}</h2>
                    <input type="text" class="auth-code" ng-model="auth_code" placeholder="Passcode" size="10" />
                    <input class="auth-submit" type="submit" value="Log in" ng-disabled="!auth_code" />
                    <a class="auth-passcode-gen" ng-click="generatePasscode()" ng-show="CONFIG.show_generate_passcode">{{CONFIG.generate_passcode_label}}</a>
                </form>
            </div>
            <div ng-show="disclaimer_read && authenticated">
            <ul class="main-list">
                <li class="main-list-item">
                    <h2>{{CONFIG.question_list_title}}</h2>
                    <ul ng-show="diary_questions && diary_questions.length">
                       <li ng-repeat="item in diary_questions" ng-click="addEntry(item)" class="diary-item diary-question">
                           <h4>{{item}}</h4>
                       </li>
                    </ul>
                    <ul ng-show="!(diary_questions && diary_questions.length)">
                       <li ng-click="addEntry('')" class="diary-item diary-question">
                           <h4>Add an entry</h4>
                       </li>
                    </ul>
                </li>
                <li class="main-list-item" ng-show="diary_entries.length">
                    <h2>Review your contributions ({{diary_entries.length}})</h2>
                    <ul>
                       <li ng-repeat="item in diary_entries|orderBy:'-created_date'" ng-click="editEntry(item)" class="diary-item diary-contribution" ng-class="{'item-with-image':item.image}">
                           <img src="{{item.thumbnail || item.image}}" ng-show="item.image" />
                           <h4>{{item.question}}</h4>
                           <h5 ng-show="item.comment.length">
                               {{item.comment | limitTo:30}}
                               <span ng-show="item.comment.length > 30">&hellip;</span>
                           </h5>
                           <h6>Created {{item.created_date|date:'dd/MM/yyyy HH:mm'}}</h6>
                       </li>
                    </ul>
                </li>
            </ul>
            <ul class="entry-guidelines">
                <li ng-show="CONFIG.min_entries">You have to submit <span ng-show="CONFIG.min_entries !== CONFIG.max_entries">at least</span> {{CONFIG.min_entries}} entr{{CONFIG.min_entries < 2 ? 'y' : 'ies'}}.</h3>
                <li ng-show="CONFIG.min_entries && CONFIG.min_entries > diary_entries.length">Please submit {{CONFIG.min_entries - diary_entries.length}} more to reach the guideline.</h3>
                <li ng-show="CONFIG.min_entries && diary_entries.length >= CONFIG.min_entries">Congratulations, you've reached the guideline!</h3>
                <li ng-show="CONFIG.max_entries && CONFIG.min_entries !== CONFIG.max_entries">You can submit a maximum of {{CONFIG.max_entries}} entr{{CONFIG.max_entries < 2 ? 'y' : 'ies'}}.</h3>
            </ul>
            <div class="re-authenticate" ng-show="!CONFIG.auto_login">
                <p ng-click="logout()">Log out and re-enter authentication code</p>
            </div>
            </div>
            <footer>
                <p>2015 &mdash; @RaphV</p>
            </footer>
        </section>
        <div class="lightbox-outer-container" ng-show="editing_item">
            <div class="lightbox-inner-container" lightbox-scrollup>
                <div class="lightbox-contents">
                    <h2>{{editing_item.question}}</h2>
                
            <ol class="lightbox-menu">
                <li class="lightbox-menu-item" ng-show="CONFIG.show_media_block">
                    <h3>
                        {{CONFIG.media_block_title}}
                        <span class="mandatory-star" ng-show="CONFIG.make_media_mandatory">*</span>
                    </h3>
                    
                    <form class="media-form" drop-image ng-class="{'dragging':dragging}">
                        <i class="fa fa-file-picture-o"></i>
                        <i class="fa fa-file-video-o" ng-show="CONFIG.enable_video"></i>
                        <p>Drop an image/video or open image/video from file</p>
                        <p>
                            <input type="file" accept="image/*{{CONFIG.enable_video ? ',video/*' : ''}}" />
                        </p>
                    </form>
                    
                    <p class="image-status" ng-show="image_status">{{image_status}}</p>
                    
                    <div class="image-preview-container" ng-show="editing_user_data.image">
                        <a href="{{editing_user_data.original_media||'#'}}" target="{{editing_user_data.original_media ? '_blank' : ''}}">
                            <img class="image-preview" src="{{editing_user_data.image}}" />
                        </a>
                        <div class="image-preview-type" ng-show="CONFIG.enable_video">
                            <i class="fa {{editing_user_data.media_type === 'video' ? 'fa-video-camera' : 'fa-picture-o' }}"></i>
                        </div>
                        <p class="remove-media" ng-click="removeImage()">
                            Remove Media
                        </p>
                    </div>
                    
                </li>
                
                <li class="lightbox-menu-item" ng-show="CONFIG.show_location_block">
                    <h3>
                        {{CONFIG.location_block_title}}
                        <span class="mandatory-star" ng-show="CONFIG.make_location_mandatory">*</span>
                    </h3>
                    <div class="map-preview" leaflet></div>
                    <div class="map-results" ng-show="!dropping_pin">
                        <div ng-show="editing_user_data.location" ng-click="panToPosition()">You checked in at {{editing_user_data.location}}</div>
                        <div ng-show="!editing_user_data.location">No position for this diary entry &mdash; Long tap to add a pin or choose from options below</div>
                    </div>
                    <div class="map-dropping" ng-show="dropping_pin">Keep pressed to {{editing_user_data.location ? 'move' : 'drop'}} pin</div>
                    <ul class="map-options">
                        <li ng-click="setPositionGPS()" ng-show="coords">
                            <i class="fa fa-dot-circle-o"></i>
                            Use my current position
                        </li>
                        <li ng-click="getLocation()" ng-show="CONFIG.use_geolocation">
                            <i class="fa fa-refresh"></i>
                            Update my position
                        </li>
                        <li ng-click="removePosition()" ng-show="editing_user_data.location">
                            <i class="fa fa-trash"></i>
                            Remove position information
                        </li>
                        <li ng-show="locations && locations.length" ng-click="show_location_list = !show_location_list">
                            <i class="fa fa-search"></i>
                            Search in location list
                        </li>
                    </ul>
                    <div ng-show="show_location_list">
                        <input class="location-search" type="search" ng-model="location_query" placeholder="Type a location name" scroll-focus focus-on="show_location_list" />
                        <ul class="location-list">
                            <li ng-click="setPositionLocation(location)" ng-repeat="location in locations|nameContains:location_query|orderBy:'distance'">
                                {{location.name}}
                                <span ng-show="location.distance">&ndash; {{location.distance|dstString}}</span>
                            </li>
                        </ul>
                    </div>
                </li>
                
                <li class="lightbox-menu-item" ng-show="CONFIG.show_calendar_block">
                    <h3>
                        {{CONFIG.calendar_block_title}}
                        <span class="mandatory-star" ng-show="CONFIG.make_date_mandatory">*</span>
                    </h3>
                    <ul class="calendar">
                        <li ng-repeat="month in months" class="calendar-month">
                            <div class="calendar-month-title">{{month.label}}</div>
                            <ul>
                                <li ng-repeat="day in daylabels" class="calendar-day-label calendar-day">{{day}}</li>
                            </ul>
                            <ul ng-repeat="week in month.weeks">
                                <li ng-repeat="day in week" ng-click="setDate(day)" ng-switch="day.active" ng-class="{'calendar-active-day': day.active, 'calendar-today': day.today, 'current-day': day.active && (day.date === editing_user_data.date)}">
                                    <a ng-switch-when="true">{{day.label}}</a>
                                    <span ng-switch-when="false" class="calendar-inactive-day">{{day.label}}</span>
                            </ul>
                        </li>
                    </ul>
                    <ul class="map-options">
                        <li ng-click="setToday()" ng-show="today_within_range">
                            <i class="fa fa-clock-o"></i>
                            Use today's date
                        </li>
                        <li ng-click="setDate(null)" ng-show="editing_user_data.date">
                            <i class="fa fa-trash"></i>
                            Remove date information
                        </li>
                    </ul>
                    
                </li>
                
                <li class="lightbox-menu-item" ng-show="CONFIG.show_emoji_block">
                    <h3>
                        {{CONFIG.emoji_block_title}}
                        <span class="mandatory-star" ng-show="CONFIG.make_emoji_mandatory">*</span>
                    </h3>
                    
                    <ul class="emojis">
                        <li ng-repeat="emoji in emojis" emoji="emoji" class="emoji-container" ng-class="hasEmoji(emoji) ? 'active' : 'inactive'" ng-click="toggleEmoji(emoji)"></li>
                    </ul>
                    
                </li>
                
                <li class="lightbox-menu-item" ng-show="CONFIG.show_comment_block">
                    <h3>
                        {{CONFIG.comment_block_title}}
                        <span class="mandatory-star" ng-show="CONFIG.make_comment_mandatory">*</span>
                    </h3>
                    <textarea ng-model="editing_user_data.comment" class="comment-box" placeholder="{{CONFIG.comment_box_placeholder}}" scroll-focus></textarea>
                </li>
            </ol>
                
                    <ul class="buttons">
                        <li class="cancel-button" ng-click="cancelEditing()">
                            <i class="fa fa-times"></i>
                            Cancel
                        </li>
                        <li class="delete-button" ng-click="deleteItem()">
                            <i class="fa fa-trash"></i>
                            Delete item
                        </li>
                        <li class="save-button" ng-click="saveItem()">
                            <i class="fa fa-floppy-o"></i>
                            Save item
                        </li>
                    </ul>
                    
                </div>
            </div>
        </div>
    </body>
</html>